@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");

:root {
  --clr-primary: rgb(240, 248, 255);
  --clr-light: rgb(255, 255, 255);
  --clr-head: hsl(273, 44%, 43%);
  --clr-highlight: rgb(42, 30, 53);
  --clr-shadow: rgba(158, 158, 158, 0.6);
  --clr-footer: rgba(33, 37, 41, 0.87);
  --clr-scroll: rgba(33, 37, 41, 0.245);
  --clr-select: hsl(0, 0%, 69%);
}

* {
  box-sizing: border-box;
}

.header {
  height: 200px;
  width: 100%;
  background: hsl(203, 100%, 96%);
  padding: 50px;
}

.note {
  background-color: var(--clr-light);
  margin: 20px;
  width: 400px;
  height: 425px;
  box-shadow: 0 0.5rem 2rem var(--clr-shadow);
}

.note:last-child {
  margin-bottom: 4em;
}

.note .tools {
  background-color: var(--clr-head);
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  align-items: center;
  margin-left: 12px;
  background-color: transparent;
  color: var(--clr-light);
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note .tools button:hover {
  transition: all 150ms ease-in-out;
  color: var(--clr-highlight);
}

.note .text {
  background-color: var(--clr-light);
  height: 375px;
  overflow-y: scroll;
  margin-left: 1rem;
}

.note textarea {
  outline: none;
  font-family: inherit;
  /* background: #333; */
  font-size: 1rem;
  border: none;
  height: 375px;
  width: 100%;
  resize: none;
}

.head-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-head);
  color: var(--clr-light);
}

.head {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  font-family: inherit;
  font-size: large;
}

.note .hidden {
  display: none;
}

.task-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #f6f7f8;
}

li {
  list-style-type: none;
}
