.TextField-without-border-radius fieldset {
    border-radius: 30px;
  }

.reverse {
  flex-direction: row-reverse;
}

.login {
  /* background: red; */
  font-size: 50px !important;
}


@media screen and (max-width: 1351px) {
  body {
    /* background: coral; */
    font-size: 10px !important;
  }
  
  .login {
    font-size: 2.4em !important;
  }
  form button {
    width: 13em !important;
  }
}


@media screen and (max-width: 1024px){
  body {
    /* background: green; */
    font-size: 13px !important;
  }
  
  .login {
    
    margin-top: 1em !important;
    font-size: 2.4em !important;
  }

  .TextField-without-border-radius {
    /* background-color: aqua; */
    /* margin: 0.1em ; */
  }

  form button {
    width: 13em !important;
  }

}

.todo-card-text{
    
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  
  box-sizing: content-box;
  
  height: 1.4375em;
  
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  text-transform: capitalize;
}
