.TextField-without-border-radius fieldset {
  border-radius: 30px;
}

body {
  /* background-color: #e8e8e8; */
}

.reverse {
  flex-direction: row-reverse;
}

.login {
  font-size: 50px !important;
}

.hide{
  display: none;
}

.todo-card-text, .todo-card-title {
    
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  
  box-sizing: content-box;
  
  height: max(1.4375em, max-content);
  
  -webkit-tap-highlight-color: transparent;
  display: block;
  
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  text-transform: capitalize;

  overflow-wrap: break-word;
}

.todo-container {
  margin-top: 60px;
  width: 100%;
  height: 100% !important;
  padding-top: 70px;
  padding-bottom: 40px;
  /* overflow: auto; */
}



